<div class="intro">
	Hello there! I'm <span class="b">Linda</span>. I'm a front-end developer based in <span class="b">Denver, CO</span>. I am currently working on a live meeting app deployed in mobile, iPads and browsers called Array {{fa-icon "fa-television"}} for <a href="http://www.educationalmeasures.com" target="_blank">Educational Measures.</a> My primary tools are <span class="b">Ember.js + HTML + CSS/SCSS + JavaScript</span>. 
	<p>I completed a full-stack development program called Seedpaths in April of 2015. Prior to Seedpaths, I hail from a graphic design background <span class="b">(Adobe PS + Illustrator). </span> By morphing from graphic design to UI design and solving problems through development, I {{fa-icon "fa-heart"}} what I do. 
	</p>
	<p>I'm constantly striving to improve as a developer and always open to learning new technologies. I hope I can grow and share my passion with you. Please feel free to get in touch & thanks for stopping by!
	<p class="right">- LK</p>

</p>
</div>
{{outlet}}