<div class="intro">
	Hello there! I'm <span class="b">Linda</span>. I'm a front-end developer based in <span class="b">Denver, CO</span>. I am currently working on a live meeting app called Array {{fa-icon "fa-television"}} for <a href="http://www.educationalmeasures.com" target="_blank">Educational Measures</a>. My primary tools of the trade are <span class="b">Ember.js + HTML + CSS/SCSS</span>. 
	<p>A year has gone by since I completed Seedpaths, a software development bootcamp. More so, jumping into Ember.js has been a journey so far & I've grown to {{fa-icon "fa-heart"}} it.
	</p>
	<p>I'm constantly striving to improve as a developer and always open to learning new technologies. Please feel free to get in touch & thanks for stopping by.
	<p class="right">- LK</p>

</p>
</div>
{{outlet}}